@media screen and (max-width: 850px) {
    
    html{
        font-size: 14px;
    }

    .votacao{
        display: flex;
        flex-direction: column;
    }

    .dados{
        width: 60%;
    }

    .container{
        padding: 0.5rem;
    }
    
    .dadosDaVotacao{
        padding: 0.5rem;
    }

}

body{
    background-color: #CCCCCC;
}

.container{
    background: linear-gradient(to bottom, #220D25,#631E6F );
    text-align: center;
    color: #CCCCCC;
    border-radius: 0.4rem;
}

h1{
    color: #F6BF23;
}

.dadosDaVotacao{
    align-items: center;
    background: linear-gradient(to bottom, #5C1D66, #1F0D22);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

input{
    margin: 0.9rem;
    height: 1.5rem;
    width: 28rem;
    border: none;
    border-radius: 0.2rem;
}

.divVotacao{
    background: linear-gradient(to bottom, #3D5EEE, #71CAFE );
    border: 0.4rem solid #2835CC ;
    border-radius: 0.8rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}

button{
    background-color: #1D0C20;
    border: none;
    color: #CCCCCC;
    height: 2rem;
    width: 40%;
    margin-bottom: 0.5rem;
}

.votacao{
    display: flex;
}

.copy{
    padding-bottom: 1rem;
}
